.headerTop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    background-color: var(--color-dark-grey);
}

.headerTop br {
    display: none;
}

@media screen and (min-width: 1024px) {
    .headerTop br {
        display: inline;
    }
}

.avatar {
    height: 50px;
    width: 50px;
    border-radius: 100%;
}

.burger { 
    height: 21px;
    background: transparent;
    border: none;
    outline: transparent;
    box-shadow: none;
    cursor: pointer;
}

.burger_div {
    position: relative;
}

.burger_div::before,
.burger_div::after {
    content: '';
    position: absolute;
    left: 0;
}

.burger_div,
.burger_div::before, 
.burger_div::after { 
    width: 27px;
    height: 3px;
    background: var(--color-gold-primary);
}

.burger_div::before {
    top: -9px;
}

.burger_div::after {
    top: 9px;
}

@media screen and (min-width: 1024px) {
    .burger {
        display: none;
    }
}

.menu {
    position: absolute;
    right: -12rem;
    background-color: var(--color-dark-grey);
    box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.25);
    padding-block: 2rem;
    width: 12rem;
    transition: transform 0.3s ease-in-out;
    z-index: 15;
}

.menu_visible {
    position: absolute;
    right: -12rem;
    background-color: var(--color-dark-grey);
    box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.25);
    padding-block: 2rem;
    width: 12rem;
    transition: transform 0.3s ease-in-out;
    z-index: 15;
    transform: translateX(-100%);
}

.menu hr,
.menu_visible hr {
    margin-block: 1rem;
    border: 1px solid #636363;
}

@media screen and (min-width: 1024px) {
    .menu {
        position: initial;
        transform: none;
        width: 210px;
    }

    .menu_visible {
        position: initial;
        transform: none;
        width: 210px;
    }

    .menu hr,
    .menu_visible hr {
        margin-inline: 1rem;
    }
}

.li {
    list-style: none;
}

.li a {
    display: flex;
    align-items: flex-end;
    margin-left: 2rem;
    color: white;
    text-decoration: none;
}

.li svg {
    height: 63px;
    fill: var(--color-gold-secondary);
    transition: all 0.2s ease;
}

.active svg {
    fill: var(--color-gold-link-active);
}

.li p {
    margin-left: -1rem;
    margin-bottom: 0.5rem;
    font-size: 18px;
    z-index: 20;
    transition: margin 0.2s ease;
}

@media screen and (min-width: 1024px) {
    .li:hover svg {
        scale: 1.2;
    }

    .li:hover p {
        margin-left: -0.5rem;
    }
}