#root {
  position: relative;
  height: 100vh;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

@media screen and (min-width: 1024px) {
  #root {
    flex-direction: row;
  }

  header {
    height: 100%;
    background-color: var(--color-dark-grey);
  }
}

main {
  height: calc(100% - 66px);
  flex-grow: 1;
  background-image: url('/Logo.svg');
  background-position: center;
  background-repeat: no-repeat;
  overflow-y: scroll;
  background-size: 80vw;
}

.wrapper {
  padding: 2rem;
  min-height: 100%;
}

@media screen and (min-width: 1024px) {
  main {
    height: 100vh;
  }
}

button {
  cursor: pointer;
}

.preview-container {
  height: fit-content;
  min-height: 100vh;
  position: absolute;
  background: #000000d5;
  inset: 0;
  padding: 3rem 8px;
  font-family: 'Bodoni Moda';
  z-index: 20;
}

.preview-container button {
  position: absolute;
  top: 48px;
  left: 16px;
  font-size: 48px;
  color: white;
  height: fit-content;
  width: fit-content;
  background: transparent;
  border: none;
  z-index: 24;
}

@media screen and (min-width: 1000px) {
  .preview-container button {
    left: calc(calc(100vw - 1024px) / 2);
  }
}

.preview-content {
  background-color: var(--color-background);
  border-radius: 8px;
  padding: 1rem 8px;
  max-width: 1032px;
  min-height: calc(100vh - 6rem);
  margin-inline: auto;
}

.modal-btn-div {
  display: flex;
  gap: 1rem;
  margin: 1rem auto;
  width: fit-content;
}